:root {
  --beige: #e8dab2;
  --beige2: #aea57b;

  --yellow1: #fcf140;
  --yellow2: #feea3b;
  --yellow3: #fdca34;
  --orange: #e19837;

  --green1: #d6f416;
  --green2: #b0e71a;
  --green3: #7ad814;
  --green4: #496d12;

  --blue1: #1df9f7;
  --blue2: #16d9e6;
  --blue3: #0bbde3;
  --blue4: #0a5070;

  --lightPurple: #c6aad3;
  --purple: #8f54a6;
  --blue: #3c92c1;
  --darkBlue: #293241;
  --lightBlue: #b5c6e0;
  --lightgrey: #ababab;
  --black: #010101;

  /* --burntOrange: #dd6e42;
    --beige: #e8dab2;
    --blue: #4f6d7a;
    --lightblue: #c0d6df;
    --grey: #eaeaea; */
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.Home {
  width: 45%;
  background-color: var(--beige);
  border-style: solid;
  border-color: var(--beige2);
  border-width: 8px;
  border-radius: 35px;
  margin-top: 100px;
}

.largeButtonYellow {
  color: var(--orange);
  font-size: 2em;
  background-image: linear-gradient(
    to bottom,
    var(--yellow1),
    var(--yellow2),
    var(--yellow3)
  );
  border-style: solid;
  border-color: var(--yellow3);
  border-width: 2px;
  border-radius: 20px;
  width: 65%;
  padding: 10px;
  /* margin-top: 0px; */
  z-index: 2;
}

.largeButtonGreen {
  color: var(--green4);
  font-size: 2em;
  background-image: linear-gradient(
    to bottom,
    var(--green1),
    var(--green2),
    var(--green3)
  );
  border-style: solid;
  border-color: var(--green3);
  border-width: 2px;
  border-radius: 20px;
  width: 65%;
  padding: 10px;
  /* margin-top: 0px; */
  z-index: 2;
}

.largeButtonBlue {
  color: var(--blue4);
  font-size: 2em;
  background-image: linear-gradient(
    to bottom,
    var(--blue1),
    var(--blue2),
    var(--blue3)
  );
  border-style: solid;
  border-color: var(--blue3);
  border-width: 2px;
  border-radius: 20px;
  width: 65%;
  padding: 10px;
  /* margin-top: 0px; */
  z-index: 2;
}

body {
  background-image: url('../images/bgAni.gif');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: 'Raleway', sans-serif;
}

/* .welcome {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2em;
} */

.welcome .myLink:hover {
  text-decoration: none;
}

@media (max-width: 715px) {
  .largeButtons {
    font-size: 25px;
  }

  .Home {
    width: 85%;
  }
}
