:root {
  --beige: #e8dab2;
  --beige2: #aea57b;

  --blue1: #1df9f7;
  --blue2: #16d9e6;
  --blue3: #0bbde3;
  --blue4: #0a5070;

  --lightPurple: #c6aad3;
  --purple: #8f54a6;
  --blue: #3c92c1;
  --darkBlue: #293241;
  --lightBlue: #b5c6e0;
  --lightgrey: #ababab;
  --black: #010101;

  /* --burntOrange: #dd6e42;
    --beige: #e8dab2;
    --blue: #4f6d7a;
    --lightblue: #c0d6df;
    --grey: #eaeaea; */
}

.Home {
  display: flex;
  flex-direction: column;
  width: 85%;
  background-color: var(--beige);
  border-style: solid;
  border-color: var(--beige2);
  border-width: 5px;
  border-radius: 10px;
  margin-top: 120px;
}

.largeButtons {
  color: var(--blue4);
  font-size: 2em;
  background-image: linear-gradient(
    to bottom,
    var(--blue1),
    var(--blue2),
    var(--blue3)
  );
  border-style: solid;
  border-color: var(--blue3);
  border-width: 2px;
  border-radius: 20px;
  width: 65%;
  padding: 10px;
  /* margin-top: 0px; */
}