.Multi .myMessage,
.myWrongPage {
  margin-top: 150px;
}
.Multi {
  background-image: url('../images/bgGame3.jpeg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.myMultiUser {
  color: var(--blue4);
  font-family: 'Mali', cursive;
  background: var(--beige);
  width: fit-content;
  border-radius: 20px;
  border: 3px solid var(--beige2);
  align-content: center;
  text-align: center;
  margin: 120px auto 5px;
}
.Multi .myCard {
  border: 2px solid rgb(205, 205, 205);
  border-radius: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}
.Multi .myQuestions {
  color: #085aa4;
  font-weight: 400;
}
.Multi .myBtn {
  font-weight: 300;
}
.Multi .myBtn:hover {
  background: var(--beige2);
  color: white;
  border-radius: 10px;
}
.Multi .myMultiBoard {
  margin-top: 150px;
  text-align: left;
}
.Multi .myMultiOther {
  margin-top: 150px;
  text-align: left;
  color: var(--blue4);
  font-family: 'Mali', cursive;
}
.myChat {
  border: 3px solid var(--beige2);
  background: whitesmoke;
  padding: 10px;
  border-radius: 10px;
}
.myBtnChat {
  border: 1px solid var(--beige);
  background: var(--beige);
  font-family: 'Mali', cursive;
  color: var(--blue4);
  padding: 5px 8px 5px 8px;
  border: 3px solid var(--beige2);
  border-radius: 10px;
}
.chatbox {
  border-radius: 10px;
  padding: 5px;
  color: white;
  border-radius: 10px;
}

.loading {
  margin-top: 100px;
  text-align: center;
}

@media (max-width: 768px) {
  .Multi .myMultiBoard,
  .Multi .myMultiOther {
    margin-top: 0;
    text-align: center;
  }
  .myChat {
    width: fit-content;
    margin: 0 auto;
  }
}
