.Single .myCard {
  border: 2px solid rgb(205, 205, 205);
  border-radius: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

.Single .myUser {
  text-align: center;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.Single .myQuestions {
  color: #085aa4;
  font-weight: 400;
}

.Single .myBtn {
  font-weight: 300;
}

.Single .myBtn:hover {
  background: var(--beige2);
  color: white;
  border-radius: 10px;
}

.Single {
  background-image: url('../images/bgGame3.jpeg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.myMessage {
  margin-top: 160px;
}

.loading {
  margin-top: 100px;
  text-align: center;
}

.myUser {
  background: var(--beige);
  width: fit-content;
  border-radius: 20px;
  background-size: contain;
  border: 3px solid var(--beige2);
}

.myMeLink {
  color: var(--blue4);
  font-family: 'Mali', cursive;
}

.myMeLink:hover {
  text-decoration: none;
  color: white;
}

.canvasBorder {
  margin: 0;
  padding: 0;
  width: fit-content;
  border: 1px solid black;
  height:min-content;
  border-radius: 10px;
  -webkit-box-shadow: 6px 7px 21px 7px rgba(0, 0, 0, 0.94);
  box-shadow: 6px 7px 21px 7px rgba(0, 0, 0, 0.94);
}

@media (max-width: 768px) {
  .canvasBorder {
    margin: auto;
    text-align: center;
  }
}