.myLogin {
    background-color: var(--beige);
    border-style: hidden;
}
.form{
    display: flex;
    flex-direction: column;
}

.form-input{
    margin: 5px;
}

.submitbtn {
    color: var(--blue4);
    background-image: linear-gradient(
    to bottom,
    var(--blue1),
    var(--blue2),
    var(--blue3)
  );
  border-color: var(--blue3);
  border-width: 2px;
  border-radius: 20px;
  width: 40%;
}

.submitbtnGreen {
    color: var(--green4);
    background-image: linear-gradient(
    to bottom,
    var(--green1),
    var(--green2),
    var(--green3)
  );
  border-color: var(--green3);
  border-width: 2px;
  border-radius: 20px;
  width: 40%;
}
