.SingleBoard {
  color: white;
  margin-top: 150px;
  text-align: left;
}
@media (max-width: 768px) {
  .SingleBoard {
    color: white;
    margin-top: 0;
  }
  .sBoard {
    text-align: center;
  }
}
